#!/usr/bin/make -rRf

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	:

override_dh_auto_clean:
	:

override_dh_auto_install:
	# -------- btftmdaemon--------
	mkdir -p debian/btftmdaemon/usr/bin
	cp -a data/btftmdaemon/arm64/usr/bin/* debian/btftmdaemon/usr/bin/

override_dh_install:
	:

override_dh_strip:
	:

override_dh_dwz:
	:

override_dh_shlibdeps:
	:

override_dh_fixperms:
	: